@font-face {
  font-family: "HelveticaN";
  src: url("./fonts/HelveticaNeue.ttc") format("truetype");
}
* {
  font-family: "HelveticaN";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  width: 100vw;
}
.container{
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  overflow-y: visible;
}
.header {
  width: 100vw;
  height: 100px;
  background-color: white;
  /* background-image: linear-gradient(0deg, #ffffff00, #ffffff); */
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  opacity: 1;
  transition: opacity 0.25s;
  box-shadow: 0px 5px 10px #00000050;
}
.header-hidden {
  opacity: 0;
  pointer-events: none;
}
.logo {
  display: flex;
  background-color: white;
  border-radius: 0px 10px 10px 0px;
  padding: 10px 10px 10px 30px;
}
.logo-image {
  height: 40px;
}
.logo-pivot {
  margin-left: 10px;
  font-size: 40px;
}
.logo-cpg {
  margin-left: 5px;
  font-size: 40px;
  background-color: black;
  color: white;
  padding: 0 5px;
}
.overlay {
  position: absolute;
  display: flex;
  top: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 11;
  background-color: #ffffff;
  box-shadow: -10px 0px 10px #00000050;
  width: 50%;
  min-width: 300px;
  height: 100vh;
  right: 0;
  transition: right 0.25s;
}
.overlay-hidden {
  top: 0;
  position: absolute;
  right: -1000px;
  transition: 0.25s;
}
.nav-list {
  font-size: 40px;
  padding: 10px;
  text-align: left;
  margin-top: 100px;
  /* background-color: blue; */
  height: 75%;
  color: gray;
}
.list-item {
  position: relative;
  padding: 20px 10px;
  text-align: left;
  /* border-radius: 10px; */
}
.list-item::after {
  content: "";
  transition: 0.25s;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: gray;
}
.list-item:hover {
  color: #000;
  cursor: default;
}
.hamburger-menu {
  position: absolute;
  top: 20px;
  right: 0px;
  z-index: 12;
  background-color: white;
  border-radius: 10px 0px 0px 10px;
  height: 60px;
  width: 60px;
  padding: 0px 50px 0px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hamburger-bars {
  width: 30px;
  height: 4px;
  background-color: black;
  margin: 5px 0;
  border-radius: 1000px;
  transition: 0.25s;
}
.strip {
  width: 100vw;
  background-color: white;
  padding: 50px 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0px 20px;
}
.tagline-words {
  font-size: calc(20px + 20 * ((100vw - 320px) / 680));
  /* padding: 10px 0px; */
  /* background-color: blue; */
}
.banner {
  position: relative;
  /* background-color: black; */
}
#banner {
  margin-top: -100px;
  width: 100vw;
  height: 80vh;
  object-fit: cover;
}
#top-bar {
}
.services {
  width: 100vw;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 50px 0 60px 0;
}
.service-list-item {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: left;
}
.services-header {
  font-size: 50px;
  color: white;
  padding: 10px;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}
.services-info {
  font-size: 16px;
  color: rgb(200, 200, 200);
  line-height: 30px;
}
.case-studies {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.case-list-item {
  width: 450px;
  padding: 30px 20px;
}
.case-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.case-header {
  color: rgb(200, 200, 200);
  font-size: 20px;
  margin: 10px 0;
  padding: 10px 0px;
  border-bottom: 1px solid rgb(200, 200, 200);
}
.case-info {
  margin: 10px 0;
  width: 80%;
  font-size: 20px;
  line-height: 30px;
}
.footer-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  align-items: center;
  background-color: black;
  color: white;
}
.footer-header {
  font-size: 60px;
  padding: 20px;
  border-bottom: 1px solid white;
  margin-bottom: 30px;
}
.footer-links {
  width: 300px;
  display: grid;
  grid-template-columns: repeat(2, 150px);
}
.footer-list-item {
  padding: 30px;
}
.footer-page-end {
  text-align: center;
  width: 100vw;
  background-color: rgb(50, 50, 50);
  padding: 30px 0;
  color: rgb(100, 100, 100);
  font-size: 20px;
}
